
.content {
    background: url(../assets/images/home-page.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 670px;
    margin-top: 51px;
}

.homepage .head-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.homepage .features p{
    line-height: 26px;
    color: #555;
}
.homepage .free-trail{
    color: #fff;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.homepage .signup-form--round {
    border-radius: 5px;
    height: 45px;
    overflow: hidden;
}
.homepage .signup-form {
    display: inline-block;
    position: relative;
}

.signup-form--round input[type=email] {
    border-radius: 5px 0 0 5px;
}
@media (min-width: 768px) {
    .signup-form input[type=text], .signup-form input[type=email] {
        padding: 11px 25px 11px 15px;
        min-width: 260px;
    }
}
.signup-form input[type=text], .signup-form input[type=email] {
    border: 1px solid #ccc;
    border-right: 0;
    font-size: 1.5rem;
    float: left;
    outline: 0;
    background: #fff;
    height: 37px;
    padding: 5px 10px;
    min-width: 210px;
}
.signup-form input[type=submit] {
    background-color: #5fc55f;
    border-bottom: 2px solid #5fc55f;
}

.signup-form--round button, .signup-form--round input[type=submit] {
    border: none;
    border-radius: 0 5px 5px 0;
    text-transform: none;
}
.signup-form input[type=submit] {
    height: 37px;
    text-transform: uppercase;
}
.signup-form button, .signup-form input[type=submit] {
    font-size: 1.3rem;
    line-height: 1.8461538462;
    display: inline-block;
    text-decoration: none;
    margin: 0 0 .25rem;
    padding: .625rem 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    cursor: pointer;
    border: 0;
    background-color: #5fc55f;
    color: #fff;
    border-bottom: 2px solid #5fc55f;
    border-bottom-color: #4baf4c;
    -webkit-appearance: none;
}
.login-button{
    border: 2px solid #5fc55f;
    border-radius: 4px;
    background: white;
    color: #5fc55f;
    font-weight: 700;
    padding: .5rem 1.25rem;
}
.login-button :hover{
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    padding: .5rem 1.25rem;
    background: #5fc55f;
}

.homepage .head-wrapper h2 {
    font-family: nexablack, sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    letter-spacing: -1.73px;
    line-height: 45px;
    margin: 0 0 30px;
}

.homepage .features h3{
    color:#5fc55f
}
.homepage .head-wrapper p {
    font-family: nexaxbold, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin: 0 0 40px;
}

.homepage .head-wrapper .button-group {
    margin: 0;
    padding: 0;
    text-align: center;
}

.homepage .head-wrapper .button-group .btn {
    padding: 12px 24px;
    font-size: 17px;
}

.button-group li:first-child {
    margin-left: 0;
}

.button-group li {
    display: inline-block;
    margin: 0 9px;
}

.button-group li:last-child {
    margin-right: 0;
}

.sub-menu-parent {
    position: relative;
}

.sub-menu {
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    padding-left: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-1em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

nav a {
    display: block;
    padding: 8px 4px;;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: none;
    color:#5cb85c;
}

nav ul,
nav ul li {
    list-style-type: none;
    padding: 0 16px;
    margin: 0;
}

nav > ul {
    background: #EEE;
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    border-left: solid 1px #aaa;
}

nav > ul > li:first-child {
    border-left: none;
}

.sub-menu {
    background: white;
}

.sub-menu-parent:hover .sub-menu {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}